body {
	font-family: 'Lemonada', cursive; 
}

h2, h3, h5, h6, h1 {
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: yellow;
}

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('https://images.unsplash.com/photo-1549880338-65ddcdfd017b?ixlib=rb-1.2.1&w=1000&q=80');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.proj-image {
	height: 150px;
	margin-left: 2;
	padding-right: 2;
}
